body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background-color:#f4f7fb;
    color: #35374a;
    line-height: 1.7;
}

header {
    background: #1d3557;
    color: white;
    text-align: center;
    padding: 26px 20px;
}

h1 {
    font-family: "Playfair Display", serif;
    font-size: 3.3rem;
    margin-bottom: 14px;
}

h2 {
    color: #1d3557;
    margin-top: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 14px;
    font-weight: 600;
}

nav a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: 30px auto;
    padding: 0 20px;
}

.card {
    background: white;
    padding: 30px;
    margin-bottom: 28px;
    border-radius: 18px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.08);
}

.page-image {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: 18px auto 24px auto;
    border-radius: 12px;
}

ul {
    padding-left: 24px;
}

a {
    color: #83459d;
}